#circle{
    border-radius:50% 50% 50% 50%;  
    width:100%;
    display:block;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0.2em;
}

#miniCircle {
    border-radius:50% 50% 50% 50%;  
    width:2.2em;
    height:2.2em;
    display:block;
    float: left;
    margin-right: 15px;
}

html, body, #map-canvas {
        height: 100%;
        padding: 0px
      }