<html>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/views/assets/mystyle.css">
    <body>
        <p id = "name">Ihsan Etwaroo</p>
        <div id = "nav">
            <a href = "/views/assets/Resume_Fancy.pdf"><img id = "resume" src="/views/assets/resume_img.png" alt = "Resume"></a>
            <a href = "https://github.com/IhsanE/"><img id = "github" src="/views/assets/GitHub-Mark-Light-120px-plus.png" alt = "Github"></a>
            <a href = "https://www.linkedin.com/profile/view?id=308497263"><img id = "linkedn" src="/views/assets/LinkedIn_logo_initials.png" alt = "Linkedin"></a>
        </div>
    </body>
</html>
